body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    
}

.search{
    width: 640px;
    margin: 20px auto;
    
}
.search-input{
    width:80%;
    box-sizing:border-box ;
    padding: 15px;
    background-color: rgba(47, 51, 50, 0.962);
    color: white;
    font-size: 18px;
    font-weight: light;
    width:78%;
    border-radius:40px;
}

.search-input:focus{
    outline: none;
    border:none;
}
.btn{
    background-color: gold;
    color: rgb(0, 0, 0);
    height:35px;
    cursor:pointer;
    border:10px rgb(0, 0, 0);
}

.container{
    color: white;
    width: 100%;
    margin:60px auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
#title{
    margin-top: 0;
}
#poster{
    display:flex;
    width: 700px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
}

span{
    color:white;
    margin: 0 0 10px 0;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none !important;
}

#details{
    color:gold;
    display:none;
    background-color: black;
}